@font-face {
  font-family: 'aldrich';
  src: url('../font/aldrich-regular-webfont.woff2') format('woff2'),
       url('../font/aldrich-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'aldrich', sans-serif;
  font-size: 16px;
  background: #3f1126;
  color: #fff;
  letter-spacing: 0.1rem;
}

.app {
  overflow: hidden;
}

.radio-container,
.text-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50vw;
}

.radio-container {
  left: 0;
  height: 38.72vw;
  top: 50%;
  margin-top: -19.36vw;
  overflow: hidden;
}
.slider,
.bar,
.knob,
.radio,
.switch,
.knob-listener {
  background: 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
  transform-origin: 50% 50%;
}
.radio {
  width: 100%;
  height: 100%;
  background-image: url(../img/radio.png);
}
.slider {
  width: 35.247%;
  height: 5.1495%;
  top: 47.88%;
  left: 56.539%;
  background: #232325;
}
.slider.place {
  top: 53.0295%;
}
.slider .bar {
  background-image: url(../img/bar.png);
  width: 4.072%;
  height: 100%;
  top: 0;
  margin-left: -2.036%;
}
.knob,
.knob-listener {
  width: 19.13876%;
  height: 24.71679%;
  top: 70.958%;
  left: 54.466%;
  background-image: url(../img/knob.png);
}
.knob.place,
.knob-listener.place {
  left: 74.641%;
}
.knob-listener {
  background: none;
}
.knob-listener:hover {
  /* cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab; */
  cursor: move;
}

.text-container {
  right: 0;
  box-sizing: border-box;
  padding: 3rem;
  display:flex;
  align-items: center;
}
.text-container h1 {
  margin-top: 0;
  padding-top: 3rem;
}
.text-container p {
  font-size: 1.6rem;
  line-height: 1.5;
}
.info {
  display: block;
  width: 90%;
  height: 9.4vmin;
  padding: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  background: #561e37;
}
.info:after {
  content: "";
  clear: both;
  display: table;
}
.info .signal {
  width: 5vmin;
  height: 5vmin;
  background: #335941;
  border-radius: 2.5vmin;
  float: left;
  position: relative;
}
.info .signal-status {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00ff60;
  opacity: 0;
  border-radius: 50%;
}
.info .label {
  margin-left: 7vmin;
  width: auto;
  height: 10vmin;
}
.info .label p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.station-marquee {
  position: relative;
  overflow: hidden;
  height: 2rem;
  line-height: 2rem;
}
.station-marquee > div {
  display: block;
  width: 200%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 0.5;
}
.station-marquee.active > div {
  animation: marquee 8s linear infinite;
  opacity: 1;
}
.station-marquee > div:after {
  content: "";
  clear: both;
  display: table;
}
.station-marquee span {
  float: left;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.station-viz {
  position: relative;
  height: 5vmin;
  width: 100%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@media (max-width: 1000px) {
  .radio-container,
  .text-container {
    position: relative;
    height: 69.6889952153vw;
    width: 90vw;
  }
  .radio-container {
    left: auto;
    top: auto;
    margin: 2rem auto;
  }
  .text-container {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    overflow: visible;
    height: auto;
  }
}
