@font-face {
  font-family: 'aldrich';
  src: url('../font/aldrich-regular-webfont.woff2') format('woff2'),
       url('../font/aldrich-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'aldrich', sans-serif;
  font-size: 16px;
  background: #000;
  color: #fff;
  letter-spacing: 0.1rem;
}
